<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	 <section  th:fragment="menu" class="py-5 bg-light">
          <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
              <div class="col-lg-6">
                <h1 class="h2 text-uppercase mb-0">GOMU GOMU SHOP</h1>
              </div>
              <div class="col-lg-6 text-lg-right">
                
              </div>
            </div>
          </div>
        </section >
	</body>
</html>