<!DOCTYPE html>
<html>


<head th:replace="/fragmentos/datos::datos">
	
</head >

<body>
<section th:replace="/fragmentos/menu::menu"></section>
	<header th:replace="/fragmentos/cabecera::cabecera"></header>

	<div style="margin-right: 50px; margin-left: 50px; text-align:center; margin-top: 60px;">
		<h2 class="display-1">Detalles de Productos</h2>
		<table class="table table-sm table-dark">
			<div class="table-responsive">
				<table class="table align-middle">
					<thead>
						<tr>
							<th>Id</th>
							<th>Id Categoria</th>
							<th>Nombre</th>
							<th>Descripcion</th>
							<th>Precio</th>
							<th>Stock</th>
							<th>Fecha alta</th>
							<th>Fecha baja</th>
							<th>Impuesto</th>
							<th>Imagen</th>
							<th>  </th>
							<th> </th>

						</tr>
					<tbody th:each="producto : ${producto}">
						<tr>
							<td th:text="${producto.id}"></td>
							<td th:text="${producto.id_categoria}"></td>
							<td th:text="${producto.nombre}"></td>
							<td th:text="${producto.descripcion}"></td>
							<td th:text="${producto.precio}"></td>
							<td th:text="${producto.stock}"></td>
							<td th:text="${producto.fecha_alta}"></td>
							<td th:text="${producto.fecha_alta}"></td>
							<td th:text="${producto.impuesto}"></td>
							<td th:text="${producto.imagen}"></td>
							<td> <div class="col-md-6 text-md-right"><a class="btn btn-outline-dark btn-sm"
								th:href="@{/productos/editar/}+${producto.id}">Editar Producto<i
									></i></a></div></td>
									<td th:if="${session.id == 1}"> <div class="col-md-6 text-md-right"><a class="btn btn-outline-dark btn-sm"
								th:href="@{/productos/borrar/}+${producto.id}">Borrar Producto<i
									></i></a></div></td >

						</tr>
					</tbody>
					</thead>
				</table>
			</div>
		</table>
	</div>

		<!-- JavaScript files-->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="vendor/lightbox2/js/lightbox.min.js"></script>
		<script src="vendor/nouislider/nouislider.min.js"></script>
		<script src="vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
		<script src="vendor/owl.carousel2/owl.carousel.min.js"></script>
		<script src="vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js"></script>
		<script src="js/front.js"></script>
		<script>
			// ------------------------------------------------------- //
			//   Inject SVG Sprite - 
			//   see more here 
			//   https://css-tricks.com/ajaxing-svg-sprite/
			// ------------------------------------------------------ //
			function injectSvgSprite(path) {

				var ajax = new XMLHttpRequest();
				ajax.open("GET", path, true);
				ajax.send();
				ajax.onload = function (e) {
					var div = document.createElement("div");
					div.className = 'd-none';
					div.innerHTML = ajax.responseText;
					document.body.insertBefore(div, document.body.childNodes[0]);
				}
			}
			// this is set to BootstrapTemple website as you cannot 
			// inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
			// while using file:// protocol
			// pls don't forget to change to your domain :)
			injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');

		</script>
		<!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
			integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	</div>
	<div id="pie">
		<footer th:replace="/fragmentos/footer::pie"></footer>
	</div>
</body>

</html>