#registrar{
	
	margin-top: 20px;
}
#pie{
	
	margin-top: 200px;
}
.referencias{
	
	display:flex;
	
	justify-content: center;
	
    color:black;

}
#busqueda{
	
	    color:black;

}
#operaciones{
	
	display:flex;
	
	justify-content: center;
}