<!DOCTYPE html>
<html>

<head th:replace="/fragmentos/datos::datos">

</head>


<body>
	<div class="page-holder">
		<!-- navbar-->
		<section th:replace="/fragmentos/menu::menu"></section>
		<header th:replace="/fragmentos/cabecera::cabecera"></header>

		<div class="container">
			<!-- HERO SECTION-->

			<section class="py-5">
				<div class="container p-0">
					<div class="row">
						<!-- SHOP SIDEBAR-->
						<div class="col-lg-3 order-2 order-lg-1">
							<h5 class="text-uppercase mb-4">Categorías</h5>
							<p th:each="categoria : ${session.categorias}">
								<li class="mb-2">
								<a id="busqueda" th:href="@{/buscaCategoria/} + ${categoria.id} " th:text="${categoria.nombre}" ></a>
								</li>
					
							</p >
							
							<br>

							<h5 class="text-uppercase mb-4">Precio</h5>

							<p class="list-unstyled small text-muted pl-lg-4 font-weight-normal">
								<li class="mb-2"><a id="busqueda"  th:href="@{/buscaPrecio}">Más baratos</a ></li>
								<li class="mb-2"><a  id="busqueda" th:href="@{/buscaPrecioDes}">Más caros</a></li>


							</p>


						</div>
						<!-- SHOP LISTING-->
						<div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
							<div class="row mb-3 align-items-center">
								<div class="col-lg-6 mb-2 mb-lg-0">
									<p class="text-small text-muted mb-0">¡Elije ente nuestra gran variedad de productos!</p>
								
							</div>
							<div class="row">
								<!-- PRODUCT-->
								<div class="col-lg-4 col-sm-6" th:each="producto : ${productos}">
									<div  class="product text-center" >
										<div class="mb-3 position-relative">

											<div class="badge text-white badge-"></div><a class="d-block"
												th:href="@{/productos/verProducto/}+${producto.id}"><img
													class="img-fluid w-100" th:src="${producto.imagen}" alt="..."></a>

											<div class="product-overlay">
												<ul class="mb-0 list-inline">
													<li class="list-inline-item m-0 p-0"><a
															class="btn btn-sm btn-outline-dark" href="#"><i
																class="far fa-heart"></i></a></li>
													<li th:if="${(producto.stock > 0 && session.id==3 ) || session.id == null}" class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark"
															th:href="@{/carrito/add/}+${producto.id}">Añadir al carrito</a>
													</li><li th:unless="${producto.stock > 0}" class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark"
																th:href="@{/productos/verProducto/}+${producto.id}">Sin stock</a>
													</li>
													<li class="list-inline-item mr-0"><a
															class="btn btn-sm btn-outline-dark" href="#productView"
															data-toggle="modal"><i class="fas fa-expand"></i></a></li>

												</ul>
											</div>

										</div>

										<h6> <a class="reset-anchor" th:text="${producto.nombre}"></a></h6>
										<p class="small text-muted" th:text="${producto.precio}"></p>
										<div th:each="categorias : ${session.categorias}">
											<div th:if="${categorias.id == producto.id_categoria}">
												<p class="small text-muted" th:text="${categorias.nombre}"></p>

											</div>
										</div>

									</div>

								</div>


								<!-- PAGINATION-->

							

					</div>
			</section>
		</div>
		<footer th:replace="/fragmentos/footer::pie"></footer>
		<!-- JavaScript files-->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="vendor/lightbox2/js/lightbox.min.js"></script>
		<script src="vendor/nouislider/nouislider.min.js"></script>
		<script src="vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
		<script src="vendor/owl.carousel2/owl.carousel.min.js"></script>
		<script src="vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js"></script>
		<script src="js/front.js"></script>
		<!-- Nouislider Config-->
		<script>
			var range = document.getElementById('range');
			noUiSlider.create(range, {
				range: {
					'min': 0,
					'max': 2000
				},
				step: 5,
				start: [100, 1000],
				margin: 300,
				connect: true,
				direction: 'ltr',
				orientation: 'horizontal',
				behaviour: 'tap-drag',
				tooltips: true,
				format: {
					to: function (value) {
						return '$' + value;
					},
					from: function (value) {
						return value.replace('', '');
					}
				}
			});

		</script>
		<script>
			// ------------------------------------------------------- //
			//   Inject SVG Sprite - 
			//   see more here 
			//   https://css-tricks.com/ajaxing-svg-sprite/
			// ------------------------------------------------------ //
			function injectSvgSprite(path) {

				var ajax = new XMLHttpRequest();
				ajax.open("GET", path, true);
				ajax.send();
				ajax.onload = function (e) {
					var div = document.createElement("div");
					div.className = 'd-none';
					div.innerHTML = ajax.responseText;
					document.body.insertBefore(div, document.body.childNodes[0]);
				}
			}
			// this is set to BootstrapTemple website as you cannot 
			// inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
			// while using file:// protocol
			// pls don't forget to change to your domain :)
			injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');

		</script>
		<!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
			integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	</div>
</body>

</html>