<!DOCTYPE html>
<html>

<head th:replace="/fragmentos/datos::datos">

</head>

<body>
	<section th:replace="/fragmentos/menu::menu"></section>
	<header th:replace="/fragmentos/cabecera::cabecera"></header>	
	<h5 class="text-uppercase mb-4" id="operaciones">Listados</h5>
	<p  >
		<a class="referencias"  href="/productos/verProductosLista" >Lista de productos</a>
	</p  >
	<p >
		<a  class="referencias" data-bs-toggle="collapse" href="/usuarios/verUsuariosClientes" role="button"
			aria-expanded="false" aria-controls="multiCollapseExample1">Lista de clientes </a>
	</p >
		<p th:if="${session.id == 1}" >
		<a  class="referencias" data-bs-toggle="collapse" href="/usuarios/verUsuariosEmpleados" role="button"
			aria-expanded="false" aria-controls="multiCollapseExample1">Lista de empleados </a>
	</p  >
		<p  th:if="${session.email == 'admin@admin.es'}">
		<a  class="referencias" data-bs-toggle="collapse" href="/usuarios/verUsuariosAdmin" role="button"
			aria-expanded="false" aria-controls="multiCollapseExample1">Lista de admins </a>
	</p >

	<p th:if="${session.id == 1}">
		<a class="referencias" data-bs-toggle="collapse" href="/configuracion/verConfiguraciones" role="button"
			aria-expanded="false" aria-controls="multiCollapseExample1">Lista configuraciones </a>
	</p>
	<p >
		<a class="referencias" data-bs-toggle="collapse" href="/proveedores/verProveedores" role="button"
			aria-expanded="false" aria-controls="multiCollapseExample1">Lista proveedores </a>
	</p>
	<h5 class="text-uppercase mb-4" id="operaciones">Altas</h5>
	<p>
		<a class="referencias" data-bs-toggle="collapse" href="/productos/altaProducto" role="button"
			aria-expanded="false" aria-controls="multiCollapseExample1">Alta producto </a>
	</p>
	<p>
		<a class="referencias" data-bs-toggle="collapse" href="/usuarios/altaUsuario" role="button"
			aria-expanded="false" aria-controls="multiCollapseExample1">Alta usuario </a>
	</p>
		<p th:if="${session.id == 1}">
		<a class="referencias" data-bs-toggle="collapse" href="/productos/altaCategoria" role="button"
			aria-expanded="false" aria-controls="multiCollapseExample1">Alta categoria </a>
	</p>
		<p th:if="${session.id == 1}">
		<a class="referencias" data-bs-toggle="collapse" href="/configuracion/verAltaCon" role="button"
			aria-expanded="false" aria-controls="multiCollapseExample1">Alta configuraciones </a>
	</p>
	<p >
		<a class="referencias" data-bs-toggle="collapse" href="/proveedores/alta" role="button"
			aria-expanded="false" aria-controls="multiCollapseExample1">Alta proveedores </a>
	</p>
	<h5 class="text-uppercase mb-4" id="operaciones">Gestión de pedidos</h5>
	<p th:if="${session.id == 1}">
	
		<a class="referencias" data-bs-toggle="collapse" href="/pedidos/verCancelaciones" role="button"
			aria-expanded="false" aria-controls="multiCollapseExample1">Cancelar pedidos </a>
	</p>
		<p>
		<a class="referencias" data-bs-toggle="collapse" href="/pedidos/verListaPedidos" role="button"
			aria-expanded="false" aria-controls="multiCollapseExample1">Enviar pedidos </a>
	</p>
		
	<h5 class="text-uppercase mb-4" id="operaciones">Excel de productos</h5>
			<p >
		<a class="referencias" data-bs-toggle="collapse" href="/productos/excel" role="button"
			aria-expanded="false" aria-controls="multiCollapseExample1">Excel </a>
	</p>





	<!-- JavaScript files-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/lightbox2/js/lightbox.min.js"></script>
	<script src="vendor/nouislider/nouislider.min.js"></script>
	<script src="vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
	<script src="vendor/owl.carousel2/owl.carousel.min.js"></script>
	<script src="vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js"></script>
	<script src="js/front.js"></script>
	<script>
		// ------------------------------------------------------- //
		//   Inject SVG Sprite - 
		//   see more here 
		//   https://css-tricks.com/ajaxing-svg-sprite/
		// ------------------------------------------------------ //
		function injectSvgSprite(path) {

			var ajax = new XMLHttpRequest();
			ajax.open("GET", path, true);
			ajax.send();
			ajax.onload = function (e) {
				var div = document.createElement("div");
				div.className = 'd-none';
				div.innerHTML = ajax.responseText;
				document.body.insertBefore(div, document.body.childNodes[0]);
			}
		}
		// this is set to BootstrapTemple website as you cannot 
		// inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
		// while using file:// protocol
		// pls don't forget to change to your domain :)
		injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');

	</script>
	<!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	</div>
	<div id="pie">
		<footer th:replace="/fragmentos/footer::pie"></footer>
	</div>
</body>

</html>